.contenedor_formulario {
  width: 350px;
  text-align: center;
  display: flex;
  justify-content: center;
}
#formularioP{
  width: 360px;
}


.contenedor {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  text-align: center;
}
.color-charla{
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 50%;
}

.img_charla {
  background-color: black;
  background-position: center center;
  background-size: cover;
  flex: 0 0 calc(70%);
  margin: 0 auto;
  height: 100%;
  width: 400px;
}


@media (max-width:1000px) {
 .img_charla{
  display: none;
 }}

.solicita {
  color: white;
  font-family: Georgia, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.formulario {
  flex: 0 0 calc(70%);
  padding: 30px;
  background-color: #000000;
}
