body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}
.img-logo {
  max-height: 5rem;
  display: flex;
}

.bg-color-blue {
  background-color: #00324d;
}
.text-blue {
  color: #00324d;
}
.img-slider {
  height: 82vh;
  max-width: 100%;
  object-fit: cover;
  padding-bottom: 50px; 
  
}
.active-green {
 background-color: #39a900 !important;
 color: white;
}
.card {
  /* border-color: #39a900 !important; */
  border: 1px solid;
}
.card-img-top {
  height: 300px;
  object-fit: cover;
}
.card-group > div {
  min-width: 300px;
}
.video {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.video > video {
  width: 100%;
}
.bg-color-opacity {
  background-color: #00324d;
  opacity: 10;
}
.text-green {
  color: #39a900 !important;
}
.text-muted1 {
  color: rgb(235, 235, 235);
  line-height: 35px;
}
.bg-green {
  background-color: #39a900;
}
.btn-green {
  background-color: #39a900;
  color: white;
  --bs-btn-hover-color: #39a900;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #39a900;
}
.border-green {
  border: 1px solid #39a900;
}
.img-profesionales {
  width: 200px;
  height: 150px;
  object-fit: cover;
}
.titulos {
  font-family: "Times New Roman", Times, serif;
}
.contenedor-notificaciones{
  max-width: 450px;
  min-width: 350px;
}
.titulo-objetivo {
  width: 100%;
  max-height: 450px;
  background-size: cover;
}
.img-obj {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-titulo {
  top: 24%;
}
.img-titulo-fondo {
  height: 120px;
  object-fit: cover;
  opacity: 0.2;
}
.img-titulo-fondo-admin {
  height: 200px;
  object-fit: cover;
  opacity: 0.2;
}

.form-select:hover {
  border-color: #6c757d;
}

.contenedor-actividades {
  width: 400px;
  min-width: 200px;
}
.shadow-black {
  box-shadow: 6px 7px 24px 3px rgba(0, 0, 0, 0.73);
}
.shadow-black:hover {
  transform: scale(1.06);
}
.contenedor-icons-contact {
  min-width: 250px;
}
.bg-green-opacity {
  background-color: #38a900b0;
}
.notificaciones{
max-height: 500px;
overflow-y: auto;

}
.notificacion-no-leida {
  background-color: #38a90042; /* Color de fondo para notificación no leída */
  font-weight: bold; /* Texto en negrita para notificación no leída */
  cursor: pointer;
}

@media (max-width: 992px) {
  .user {
    margin-left: 0px !important;
  }
  .img-slider {
    /* max-height: 28rem; */
    height: 350px;
    width: 100%;
    object-fit: cover;
  }
  .nosotros {
    width: 100% !important;
    margin-right: 15px;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .text-titulo {
    top: 34%;
  }
}
@media (max-width: 662px) {
  .img-logo {
    max-height: 4rem;
    display: none;
  }
  .img-logo-mini {
    max-height: 4rem;
    display: flex !important;
  }
  .card-group > div {
    min-width: 270px;
  }
}
@media (min-width: 800px) {
  .card {

    max-width: 700px;
  }
}
@media (min-width: 500px) {
  .contenedor-charla {
    
    max-width: 600px;
  }
}
